.content{
    background-color: white;
    box-sizing: border-box;
    margin: 0px 20px 30px 20px;
    width: calc(100% - 40px);
    border: lightgray 1px solid;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    display: flex;
    align-items: center;
}

.edit{
    background-color: rgba(255, 166, 0, 0.3);
    border:1px solid rgba(255, 166, 0, 1)
}

.activity-name{
    width: 35%;
    display: flex;
}

.activity-name > input{
    width: calc(100% - 16px);
    margin: 8px;
}

.activity-name > button{
    margin: 10px 0px;
}

.tags-button{
    justify-self: start;
}

.tag-name{
    margin: 8px;
    width: 200px; 
    overflow: auto;
    border-bottom: solid 1px lightgray;
}

.calendars{
    display: flex;
    align-items: center;
    margin-left: 10vw;
    margin-right: auto;
    font-size: 20px;
}

.space{
    width: 50px;
    text-align: center;
    font-size: 25px;
}

.time{
    width: 15%;
    font-size: 20px;
    text-align: center;
}

.menu{
    margin-right: 8px;
    justify-self: right;
}

.dropdown{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

