<div class="content" [ngClass]="{'edit' : editing}">
<div class="activity-name">
    <input [readonly]="!editing" [(ngModel)]="description" pInputText type="text">
    <button [disabled]="activity.tags.length==0" [matMenuTriggerFor]="listtags" type="button" pButton class="tags-button p-button-text p-button-secondary"><i class="pi pi-tags"></i></button>    
</div>

<mat-menu #listtags="matMenu">
    <div (click)="$event.stopPropagation();">
      <div *ngFor="let tag of activity.tags">
        <div class="tag-name">#{{tag}}</div>
      </div>
    </div>
</mat-menu>

<div class="calendars">
    <input [hidden]="editing" readonly pInputText type="text" value='{{dateStart | date: "dd.MM.yyyy hh:mm"}}'>
    <p-calendar [hidden]="!editing" (click)="$event.stopPropagation();" [showTime]="true" dateFormat="dd.mm.yy" [(ngModel)]="dateStart"></p-calendar>
    
    <div class="space">-</div>

    <input [hidden]="editing" readonly pInputText type="text" value='{{dateEnd | date: "dd.MM.yyyy hh:mm"}}'>
    <p-calendar [hidden]="!editing" [showTime]="true" dateFormat="dd.mm.yy" [(ngModel)]="dateEnd"></p-calendar>

</div>

<div class="time">{{time}}</div>

<div class="menu">
    <button pButton pRipple type="button" icon="pi pi-bars" class="p-button-secondary p-button-text" (click)="menu.toggle($event)"></button>

    <p-overlayPanel #menu>
        <div class="dropdown">
            <button pButton label="Edit" class="p-button-warning" (click)="edit()"></button>
            <button pButton label="Delete" class="p-button-danger" (click)="delete()"></button>
        </div>
    </p-overlayPanel>
</div>
</div>