<nav>
  <div class="logo">
    <h1>Clockify </h1><i class="pi pi-clock"></i>
  </div>

  <div class="auth__buttons">
    <button pButton type="button" class="p-button-sm p-button-raised p-button-text" label="Login"></button>
    <button pButton type="button" class="p-button-sm p-button-raised" label="Register"></button>
  </div>
</nav>

<div class="mode__buttons">
  <p-selectButton [disabled]="started" [options]="stateOptions" [(ngModel)]="value1" optionLabel="label" optionValue="value">
</p-selectButton></div>


<form class="set-activity-tab" [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="description">
    <input [readonly]="started" formControlName="description" class="set-activity-tab__input" pInputText placeholder="What are you working on?" type="text">
    <button [disabled]="started" [matMenuTriggerFor]="addtags" type="button" pButton class="p-button-text p-button-secondary"><i class="pi pi-tags"></i></button>
  </div>
  

  <mat-menu #addtags="matMenu">
    <div class="menu-addtags" (click)="$event.stopPropagation();">
      
      <button pButton label="Add tag" (click)="addTag()"></button>

      <div class="set-tag" formArrayName="tags" *ngFor="let tag of tags.controls; let i=index">
        <input [formControlName]="i" pInputText placeholder="Tag" type="text">
        <button pButton (click)="deleteTag(i)" class="p-button-danger" icon="pi pi-times"></button>
      </div>

    </div>
  </mat-menu>

  <div [hidden]="value1=='timer'" class="calendars">
    <p-calendar [showTime]="true" dateFormat="dd.mm.yy" formControlName="start"></p-calendar>
    <div class="space">-</div>
    <p-calendar [showTime]="true" dateFormat="dd.mm.yy" formControlName="end"></p-calendar>
  </div>
  
  <div class="buttons">
    <div [hidden]="value1=='manual'" class="stopwatch">{{stopwatch}}</div>
    <button pButton *ngIf="!started" class="p-button-sm p-button-raised" label="{{value1=='timer' ? 'Start' : 'Add'}}"></button>
    <button pButton *ngIf="started" class="p-button-sm p-button-raised" label="{{value1=='timer' ? 'Stop' : 'Add'}}"></button>
  </div>

</form>

<div class="underline"></div>

<div class="activity-tab" *ngFor="let activity of activities$ | async">
  <app-activity [collectionName]="collectionName" [activity]="activity"></app-activity>
</div>