/* nav */
Nav{
    display:flex;
    width: 100%;
    flex-wrap:nowrap;
    align-items: center;
    border: lightgray 1px solid;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.logo{
    margin: 8px;
    display: flex;
    align-items: center;
}

.logo > h1{
    margin:0;
    font-family: 'Pangolin', cursive;
    font-size: 35px;
}

.logo > i{
    margin-left: 10px;
    font-size: 25px;
    display: none;
}

.auth__buttons{
    display: flex;
    gap: 20px;
    margin: 8px;
    margin-left: auto;
}

/*Set activity tab*/
.mode__buttons{
    margin: 20px 0px 0px 20px;
    position: relative;
    top:5px;
    z-index: 2;
}

.set-activity-tab{
    box-sizing: border-box;
    margin: 0px 20px 20px 20px;
    width: calc(100% - 40px);
    background-color: white;
    border: lightgray 1px solid;
    display: flex;
    align-items: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    position: relative;
    z-index: 3;
}

.description{
    width:35%;
    display: flex;
}

.set-activity-tab__input{
    width: calc(100% - 16px);
    margin: 8px;
}

.description > button{
    margin: 10px 0px;
}

.buttons{
    margin: 8px;
    margin-left: auto;
    display: flex;
}

.hidden{
    display: none;
}

.underline{
    margin: 32px auto;
    width: 8%;
    border-bottom: 20px dotted lightgray
}

.menu-addtags{
    display: flex;
    flex-direction: column;
    width: 271px;
}

.menu-addtags > button{
    margin: 8px;
}

.set-tag{
    margin: 8px;
    display: flex;
    gap: 10px;
}

.calendars{
    margin-left: 10vw;
    align-items: center;

}

.space{
    width: 50px;
    text-align: center;
    display: inline-block;
    font-size: 25px;
}

.stopwatch{
    margin: auto 50px;
    font-size: 18px;
}